@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$bg: #2A3136;
$text-color: #88949D;
$accent-color: #30d9f0;

body, html { 
  height: 100%;
}

body { 
  background: $bg;
  color: $text-color;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: $accent-color;
}

.cta-btn, .cta-btn:visited {
  color: $accent-color;
  border: 1px solid $accent-color;
  padding: 5px 12px;
  float: right;
  border-radius: 5px;
}

.cta-btn:hover {
  background: $accent-color;
  color: $bg;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 8.2rem;
}

.body-blur {
  background: $bg url(/assets/images/blur-bg.png) no-repeat top center !important;
  background-size: 90% !important;
  height: 100%;
}